.leaderboard-title {
    background: #fbb531;
    width: 100%;
    text-align: center;
}

.leaderboard-title img {
    width: 400px;
    max-width: 90%;
    padding: 40px 0;
}

.game-level {
    position: relative;
    border-radius: 4px;
    text-align: center;
    max-width: 175px;
    margin: 0 auto;
    height: 315px;
}
.blocked {
    background: url(../images/lock-white.png) no-repeat center rgba(0,0,0,0.5);
    z-index: 1;
    position: absolute;
    height: 230px;
    width: 100%;
    top: 40px;
    border-radius: 4px;
}

body.page-node-17 h2 {
    color: #eab340;
    text-transform: uppercase;
}
.icon-level {
    margin-top: 20px;
}

.icon-level .img-responsive {
    display: inline;
}

body.page-node-17 a.btn-default {
    background: #90c1ae;
    margin: 10px;
}

.score {
    color: #75c474;
}

.category {
    display: block;
    vertical-align: top;
    padding-top: 30px;
    border-top: 1px solid #cecece;
    position: relative;
    margin-top: 30px;
}

.category .icon-level {
    display: inline-block;
    vertical-align: middle;
}
.icon-level img {
    max-width: 110px;
}

.category h2 {
    font-size: 40pt;
    margin-left: 20px;
    font-weight: 0400;
    vertical-align: middle;
    margin-top: 0pt;
    color: #c75c5c!important;
    font-weight: bold;
}
.inline {
    display: inline-block;
}
body.page-node-17 .hide-assets a.btn-default {
    display: none;
}
.hide-assets .progress {
    display: none;
}
.hide-assets .score {
    display: none;
}






.top3 {
    text-align: center;
}

.award {
    width: 150px;
    height: 160px;
    display: inline-block;
    position: relative;
}
.award .inner {
    position: relative;
    height: 150px;
}
.award_1 .award_place {
    color: #f5cf87;
    right: -128px;
}
.award .inner > * {
    position: absolute;
    bottom: 0;
    left: 0;
}
.award_place {
    font-size: 120pt;
    font-weight: bold;
    line-height: 0;
    z-index: -1;
    padding: 0;
    top: 60px;
    font-style: italic;
    right: -99px;
}
.award .user-score {
    font-size: 11pt;
    text-transform: uppercase;
    bottom: 0;
    color: #c75c5c;
    font-weight: bold;
}
.award_1 .profile-image {
    max-width: 155px;
}
.award_icon {
    max-width: 55px;
    top: 90px;
    position: absolute;
    right: 10px;
    display: inline-block;
}
.award .user-score .score {
    color: #c75c5c;
}


.second-third .award {
    margin: 0px 160px;
    margin-top: -70px;
}

.award_2 .award_place {
    color: #c27e7c;
}
.award_3 .award_place {
    color: #c27e7c;
}


/* two items */
.second-third div.award:first-child:nth-last-child(1)
 {
    transform: translateX(-240px);
    margin: 0;
    margin-top: -70px;
}
@media(max-width: 1199px)
{
    .award {
    display: block;
    margin: 0 auto!important;
    height: auto;
    transform:translateX(0)!important;
    }
    .second-third .award {
    margin-top: 0;
    display: block;
    margin: 50px auto;
    }
}


body.page-node-17 .others {
    margin-top: 20px;
}
body.page-node-17 .others table {
    text-align: center;
    width: 420px;
    margin: 0 auto;
    font-size: 12pt;
}
body.page-node-17 .others table tr {
    margin: 5px 0;
}

@media (max-width:720px){
    .category h2{
        font-size:22pt!important;
    }

    .category .icon-level {
        display: inline-block;
        vertical-align: middle;
        margin-top:0;

    }

    .category .icon-level img{
        max-width:80px;
    }

    body.leaderboard .others table{
        text-align: center;
        width: 300px;
        margin: 0 auto;
        font-size: 12pt;
    }

}

.indicators {
    width: 230px;
    float: right;
}

.indicators .score-in, .indicators .clock-in {
    margin: 10px 0;
    position: relative;
    display: block;
    vertical-align: middle;
}

.indicators .clock-in .clock.icon,
.indicators .score-in .game-controller.icon {
    vertical-align: middle;
    display: inline-block;
    width: 90px;
    z-index: 1;
    position: relative;
    height: 90px;
}

span.icon.game-controller {
    background: url(../images/circle/gamecontroller.png) no-repeat;
    background-size: 100%;
}
span.icon.clock {
    background: url(../images/circle/clock.png) no-repeat;
    background-size: 100%;
}

/*.game_detail */
.indicators {
    position: absolute;
    right: 10px;
    top: 0;
}

@media (max-width: 1200px) {
    .page-node-17 .indicators {
        right: inherit;
    }
}

@media (max-width: 767px) {
    .page-node-17 .indicators {
        position: relative;
    }
}

.indicators {
    width: 270px;
    float: right;
}

.indicators .clock-in .time,
.indicators .score-in .score-points {
    width: 180px;
    vertical-align: middle;
    position: relative;
    background: #39b54a;
    display: inline-block;
    color: white;
    font-size: 25pt;
    z-index: -1;
    font-style: italic;
    font-weight: bold;
    padding: 6px 15px;
    margin-left: -30px;
    text-align: right;
    border-radius: 5px;
}

.indicators .clock-in .time {
    background: #c75c5c;
}





