/*******
Colores:

Azul (Nav & Footer): #1d92bb
Amarillo hover nav: #f0ff00
Parrafo Textos: #757575

Headings
Amarillo: #fcb530
Rojo: #c75c5c

********/

/*
* Body
*/

body{
	color:#757575;
	font-family:'Roboto', sans-serif;
}

h1,h2,h3{
	font-family:'Roboto Condensed', sans-serif;
	color:#757575;
}
a{
	color:#757575;
}



.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 1200px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}


body.navbar-administration.navbar-horizontal .navbar-fixed-top {
	top: 79px;
}
body.navbar-administration.navbar-vertical .navbar-fixed-top {
	top: 39px;
}

.front .wrapper{max-width:1400px; margin:0 auto;}

.btn-default{
	background:none;
	background-color:#6096d4;
	text-shadow:none;
	color:white;
	text-transform: uppercase;
	padding:10px 20px;
	border:0;
	border-radius:4px;
}
.btn-default:hover{
	color:white;
	background-color:#386faf;
}
h1.title,
h1.page-header,
h2.block-title {
	text-align: center;
	text-transform: uppercase;
	font-size:40pt;
	margin-bottom:20px;
}
.content-nav .container {
    text-align: center;
}
.col-sm-2_0{
	/*width:20%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;*/

     width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    float: none;
    vertical-align: top;
    max-width: 185px;
}




@media (max-width: 720px)
{
	.col-sm-2_0{max-width: 110px;}
}

@media (max-width: 580px)
{
	.col-sm-2_0{width: 30%;}

	.content-nav h3 {
    font-size: 10pt!important;
    margin-top: 0;
	}
}

.col-sm-2_0 img{
	display: block;
	width:100%;
	height:auto;
}

/*
* Navigation
*/

.navbar-default{
	background:#1d92bb;
	color:white;
	border:0;
	border-radius:0;
	margin:0;
}

.navbar-default .navbar-nav>li>a{
	color:white;
	text-transform:uppercase;
	font-family:'Roboto Condensed', sans-serif;
	font-weight:0400;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#f0ff00;
}

.nav-icons{
	background:#00a3e7;
	border-radius:50%;
	    padding: 7px 8px 3px 8px!important;
    margin: 9px;

}
.nav-icons:hover{
	background:#f0ad4e!important;
	border-radius:50%;
	padding: 7px 8px 3px 8px!important;
    margin: 9px;
	color:white!important;
}

.navbar-default .navbar-toggle{
	border:0;
}

.navbar-toggle .icon-bar{
	height:3px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background:transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:white;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #1d92bb;
    border: 0;
}
.navbar-nav>li>.dropdown-menu>li>a{
	color:white;
	font-family: 'roboto condensed',sans-serif;
}

@media screen and (max-width:1024px){
.nav-icons{
	width:29px;
}
}
/*
* Jumbotron
*/

.jumbotron{
	background: none;
	padding:0;
}

/*
* Content
*/
main{
	position:relative;
	min-height:500px;
}

.front main{
margin-top:-150px;
}
@media screen and (max-width:992px)
{
	.front main{
	margin-top:0;
	}
	.main-container > .row >section.col-sm-12{padding:0;}
	

	
}
.front main

.content-nav h3{
	font-family: 'roboto condensed', sans-serif;
	color:#fdb531;
	text-transform: uppercase;
	text-align: center;
	font-size:12pt
}

/*
* Info
*/
#info{
	height:800px;
	background:url('../images/home_content-info-bg.jpg') center no-repeat;
	background-size:100%;
	margin-top:50px;
	overflow:hidden;
	height:auto;
}

#info .card{
	background:white;
	border-radius:20px;
	overflow: hidden;
	padding:20px;
}

.card .col-sm-4{text-align: center;}

.user-actions {
	text-align: center;
}


@media (max-width:620px){
	.home_portafolio h2.block-title {
		font-size:25pt;
	}
}

/*++++++++++++++++++++++++*/

@media (max-width: 920px){
	.user-actions img {
		float: none;
		display: inline-block;
		max-width: 300px!important;
		margin: 10px auto!important;
	}
	#info .card img {
		max-width: 165px!important;
	}
}


.home_portafolio{text-align: center;}
.view-portafolio{
	margin-top:20px;
	overflow: hidden;
}
.view-portafolio .views-row {
	margin-bottom: 50px;
}
.view-portafolio .item {
	text-align: left;
	position: relative;
}

@media (min-width: 1200px) {
	.view-portafolio .item {
		text-align: left;
		min-height: 450px;
		position: relative;
	}
	.view-portafolio .item .btn-default {
		bottom: 0;
		position: absolute;
	}
	.view-portafolio .item .views-field-field-descripcion {
		display: table-cell;
		/*vertical-align: middle;*/
		height: 323px;
	}

}


.view-portafolio h3{
	color:#fcb530;
	height:50px;
}

.beneficios .item{
	text-align: center;
}
.view-beneficios .views-field-field-imagen img{margin:auto;}
.beneficios .item h4{
	font-family: 'roboto condensed', sans-serif;
	color:#fcb530;
	    max-width: 70%;
    margin:20px auto 0;
    font-size: 13pt;
    height: 70px;
}

@media (max-width: 920px) {
	.beneficios .item img {
		max-width: 165px;
	}
}



/*
* Foooter
*/

footer{
	background:#1d92bb;
	color:white;
	font-size:8pt;
	margin-top:30px;
}
footer .container{padding:20px 0;}
footer a{
	color:white;
}

footer a:hover{
	color:white;
}

@media screen and (max-width:1024px){
	footer{
		padding:0 15px;
	}
}



/*
* Portafolio de productos
*/

/*.portafolio-prod .conjunto-de-campos{margin-top: 60px;}*/
.portafolio-prod h3{
	text-transform:uppercase;
	margin-top:0px;
	font-size:25pt;
}
.portafolio-prod .categoria{
	margin-bottom:20px;
	overflow-y: hidden;
}
.view-portafolio-productos .views-row .col-sm-2 img{margin: auto;}
@media (max-width: 760px)
{
	.view-portafolio-productos .views-row .col-sm-2 img{max-width: 165px;}
	.portafolio-prod h3 {text-align: center;}
}
/*.portafolio-prod .portafolio-urologia{}*/

.portafolio-prod #cat-4 h3{
	color:#fcb530;
}
.portafolio-prod #cat-4 ul{}
.portafolio-prod #cat-4 ul li{
}

.portafolio-prod ul li {
  list-style: none;
  margin:5px 0;
}
.portafolio-prod ul li:before {
    content: '\2022';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -20px;
    top: -10px;
    color: gray;
    font-size: 20pt;
}

.portafolio-prod #cat-4 ul li:before {
	color:#fcb530;
}

.portafolio-prod #cat-5 h3{
	color:#c6494f;
}
.portafolio-prod #cat-5 ul li:before {
	color:#c6494f;
}

.portafolio-prod #cat-6 h3{
	color:#526683;
}
.portafolio-prod #cat-6 ul li:before {
	color:#526683;
}

.portafolio-prod #cat-7 h3{
	color:#ff5d5c;
}
.portafolio-prod #cat-7 ul li:before {
	color:#ff5d5c;
}

.portafolio-prod #cat-9 h3{
	color:#e65d5c;
}
.portafolio-prod #cat-9 ul li:before {
	color:#e65d5c;
}

/*
* Detalle producto
*/

h2.subtitle{
	font-size: 20pt;
	font-style: italic;
	/*text-align: center;*/
	margin-bottom:20px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
}

h2.subtitle.categoria.sistema_nervioso{
	color:#ff5d5c;
}

.view-nombre-categoria .views-field-field-imagen img.img-responsive {
	display: inline-block;
}
.view-nombre-categoria .views-field-field-imagen {
	display: inline-block;
	float: left;
}

.productos_relacionados{
	overflow: hidden;
	margin-bottom:20px;
}

.productos_relacionados h3{
	color:#ff5d5c;
	font-style: italic;
}

.productos_relacionados h4{
	font-weight:0400;
	text-transform: uppercase;
	font-family: 'roboto condensed', sans-serif;
}

.productos_relacionados img{
	margin:10px 0!important;
	width:100%;height:auto;
	/*border: 1px solid #b9b9b9;*/
}
.node-producto.view-mode-full .image-prod img.img-responsive {
	/*border: 1px solid #b9b9b9;*/
}

/*
*Sitios de interes
*/

.sitios-interes{}

.sitios-interes img{
	width:100%;
	height:auto;
}

.sitios-interes h4{
	font-family: 'roboto condensed', sans-serif;
	text-transform: uppercase;
	color:#fcb530;
}

.sitios-interes .sitio-interes{
	margin:10px 0;
}

/*
* Formularios
*/
form{text-align: center;}
.webform-item{
	overflow:hidden;
	margin:20px 0;
}
@media (max-width: 992px)
{
	.form-item > * {
    display: block;
    width: 100%;
    text-align: center;
	}
}

label, .field-label{
	font-family: 'roboto condensed', sans-serif;
	text-transform: uppercase;
	color:#fcb530;
	font-weight:0400;
	width:200px;
	text-align: left;
}
input{
    margin: 0 10px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid;
    padding: 3px;
   }


 .form-control{
 	max-width:255px;
 	margin:0;
 	border:1px solid #757575;
 	float:right;
 }

@media(max-width: 991px)
   {
   	#edit-actions{margin-top: 10px;}
   	 	#edit-actions #edit-submit{
			/*width: 100%;*/∫
		}
   	 	.form-control{float: none;margin: auto;}
   }
  form.login .small{
  	text-align: right;
    float: right;
    margin: 15px;
  }

  form.login .actions{
  	clear:both;
  	display: block;
  }

  form.login .actions button{
  	margin:10px;
  }

  .avatar img{
  	max-width:50px;
  	height:auto;
  	display: inline-block;
  	margin:10px;
  }

  .marker{
  	background: url(../images/game_detail_03.png) center no-repeat;
  	background-size:contain;
  	height:200px;
  	overflow: hidden;
  	position:absolute;
  	right:10px;
  	top:-20px;
  	width:240px;
  	max-width:240px;
  }

  .marker span{margin: 24px 0 0 109px; color:white; font-style: italic; display:block; font-size:25pt; font-weight:bold;}
.marker span.time{margin-top:55px;}

  .game-cards,
  .quiz-question-multichoice .field-name-body {
  	background: url(../images/game_detail_07.png) center no-repeat;
  	background-size: contain;
  	min-height:400px;
  	overflow: hidden;
  	display: block;
  }

.entity-quiz-result-answer .field-name-body {
	/*display: none;*/
}

.page-node-quiz-results-view th:first-child {
	width: 80px;
}

.page-node-take-feedback .entity-quiz-result-answer .field-name-body {
	display: block;
}

.center{text-align: center;}
.center button{margin:10px}

div#quiz-progress {
	display: none;
}

/*.page-node-take p,*/
.quiz-question-multichoice .field-name-body p {
  	/*text-align: left;*/
  	font-size:30pt;
  	font-family: 'roboto condensed', sans-serif;
  	font-style: italic;
  	font-weight:0100;
  	max-width:50%;
  	margin:0 auto;
  	margin-top:80px;
}



.page-node-44.page-node-take-11 .quiz-question-multichoice .field-name-body p {
	font-size: 28pt;
	margin-top: 70px;
}
.page-node-44.page-node-take-15 .quiz-question-multichoice .field-name-body p,
.page-node-44.page-node-take-29 .quiz-question-multichoice .field-name-body p {
	font-size: 27pt;
	margin-top: 70px;
}





@media (max-width:1200px){
	.page-node-take, .quiz-question-multichoice .field-name-body {
		background-size: 65%;
	}
	.quiz-question-multichoice .field-name-body p {
		text-align: left;
		font-size: 16pt;
		margin-top: 15%;
	}
}

@media (max-width:990px){
	.page-node-take .indicators{
		clear:both;
		float:none;
		position:relative;
		float:none;
		margin:0 auto;
	}
	.page-node-take  .field-name-body {
		background-size: 90%;
	}
	.page-node-take  .field-name-body p{
		text-align: left;
		font-size: 16pt;
		margin-top: 25%;
		max-width: 60%;
		text-align: center;
	}

	.page-node-take .container.game{
		width: 100%;
		clear: both;
	}
}

@media (max-width:779px){
	.page-node-take .field-name-body{
		background:none;
		border:1px solid #999;
		box-shadow:0px 0px 1px #333;
		border-radius:4px;
	}
}


.quiz-question-multichoice h2,
.quiz-question-multichoice .form-type-radios label.control-label{
	display: none;
}

.quiz-question-multichoice ol li {
	list-style: none;
}

.quiz-question-multichoice .multichoice-row label {
	width: auto;
	margin: 4px;
	background-color: #6096d4;
	border-radius: 4px;
	border: 1px solid #D0D0D0;
	overflow: auto;
	padding-left: 0;
	color: white;
	text-transform: none;
}

.quiz-question-multichoice .multichoice-row label span {
	text-align:center;
	font-size: 14px;
	display:block;
	padding: 10px 20px;
}

.quiz-question-multichoice .multichoice-row label span p {
	margin: 0;
}

.quiz-question-multichoice .multichoice-row label input {
	position:absolute;
	top:-20px;
	visibility: hidden;
}

.quiz-question-multichoice .multichoice-row input:checked + span {
	background-color:#e0e0e0;
	color:#333;
}

.quiz-question-multichoice .table-striped>tbody>tr:nth-of-type(odd),
.quiz-question-multichoice .table-hover>tbody>tr:hover {
	background-color: #fff;
}
.quiz-question-multichoice .radio {
	position: relative;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.quiz-question-multichoice .table>tbody>tr>td,
.quiz-question-multichoice .table>tbody>tr>th,
.quiz-question-multichoice .table>tfoot>tr>td,
.quiz-question-multichoice .table>tfoot>tr>th,
.quiz-question-multichoice .table>thead>tr>td,
.quiz-question-multichoice .table>thead>tr>th {
	padding: 0;
	line-height: 1;
	vertical-align: top;
	border-top: 0;
}


/*Registro*/

.form-item-picture-delete {
	text-align: left;
}

ul.tabs--primary.nav.nav-tabs {
	display: none;
}

.user-role-administrador ul.tabs--primary.nav.nav-tabs {
	display: block;
}

.form-item-mail .help-block,
.form-item-pass .help-block,
.form-item-name .help-block,
.form-item-current-pass .help-block,
.field-name-field-birthdate .help-block {
	display: none;
}
.date-form-element-content-multiline {
	padding: 0;
	border: 0;
}
.date-no-float {
	clear: both;
	float: none;
	width: 100%;
}
.container-inline-date .form-item,
.container-inline-date .form-item input {
	width: 100%;
	margin-right: 0;
}
.container-inline-date .date-padding {
	float: left;
	width: 100%;
}
.form-item.form-item-files-picture-upload.form-type-file.form-group {
	display: inline-block;
	width: 100%;
}
.form-item-files-picture-upload input#edit-picture-upload {
	float: left;
}
.form-item-files-picture-upload label.control-label {
	float: right;
	position: relative;
	top: 0;
}
.form-item-files-picture-upload .help-block {
	float: right;
	width: 50%;
}

fieldset#edit-picture {
	border: none;
}

fieldset#edit-picture legend.panel-heading {
	display: none;
}

.form-item-select-avatar label.control-label {
	text-transform: none;
	width: auto;
}
.avatar-select {
	box-shadow: 0px 0px 5px 0px #9a9a9a;
}
div#edit-select-avatar {
	padding-top: 21px;
	height: 90px;
	overflow: scroll;
}



input#edit-field-cellphone-und-0-value,
input#edit-field-other-phone-und-0-value {
	max-width: 255px;
	float: right;
	margin: 0;
}


/*Page USER*/
.page-user h1.page-header {
	display: none;
}
.page-user-login h1.page-header{
	display: block;
}
.page-user-login .form-item {
	  overflow: hidden;
    margin: 20px 0;
}
.page-user-login #edit-actions {
	/* clear: both; */
	/* display: block; */
	margin-top: 20px;
}
#user-login #edit-submit {
	background: none;
    background-color: #6096d4;
    text-shadow: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
}
.page-user-login #edit-submit,
.page-user-login a.btn {
	margin: 10px;
}
#user-login #edit-submit:hover{background:#386faf;}
#user-login a.forgot
{
	  float: right;
    font-size: 85%;
    margin: 15px;
}
.page-user .group-header {
	margin-bottom: 30px;
	display: block;
    min-height: 200px;
}
.page-user.page-user-edit .group-header {
    margin-bottom: 0;
    display: block;
    min-height: 0;
}
.user-profile .field {
	margin-bottom: 20px;
	padding: 0;
}
.user-profile .field .field-label {
	font-weight: normal;
}
.user-profile .datos-usuario h3 {
	margin-top: 0;
	margin-bottom: 0;
}
.user-profile .views-field-field-full-name h1 {
	margin-top: 10px;
	margin-bottom: 0;
}
.user-profile .views-field.views-field-rid h2 {
	font-weight: normal;
	text-transform: uppercase;
	color: #C05051;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 18pt;
	font-style: italic;
}




.role-6 {
	background-image: url(/sites/default/files/iconos/trophy.png);
	background-repeat: no-repeat;
	background-size: 40px;
	padding-left: 50px;
}
.role-5 {
	background-image: url(/sites/default/files/iconos/racingflags.png);
	background-repeat: no-repeat;
	background-size: 40px;
	padding-left: 50px;
}
.role-4 {
	background-image: url(/sites/default/files/iconos/star.png);
	background-repeat: no-repeat;
	background-size: 40px;
	padding-left: 50px;
}





.user-profile .views-field.views-field-points {
	text-transform: uppercase;
	color: #C05051;
	font-style: italic;
}
.user-profile .actions {
	text-align: center;
}

/*Password*/
.page-user-password form#user-pass {
	max-width: 475px;
	margin: 0 auto;
}

.form-item-pass-pass1,
.form-item-pass-pass2 {
	margin-right: 15px;
	margin-left: 15px;
}

.form-item-pass-pass1 .progress {
	margin-top: 30px;
	width: 90%;
	float: right;
	display: none;
}

@media(min-width: 768px) and (max-width: 991px)
{
	#block-block-5 .card .col-sm-4 img{max-width: 100%!important;}

}
.img-producto-relacionado {
height: 125px;
vertical-align: middle;
display: table-cell;
}


/**Editar perfil*******/
.page-user-edit #edit-locale,
.page-user #edit-locale{
	display: none;
}
.page-user .grippie
{
display: none;
}
.page-user .form-textarea-wrapper{
	    display: block;
	    float: right;
}
#edit-field-direcci-n-und-0-value {
	margin: auto;
}
.page-user-edit .leaderboard-title,
.page-user .leaderboard-title{
	display: none;
}
.page-user #edit-field-birthdate .form-item,
.page-user .form-item-field-birthdate-und-0-value,
.page-user .form-type-password-confirm,
.page-user .form-item-pass-pass1
{
	margin: 0!important;
}

.page-user #edit-field-direcci-n {
	height: 45px;
}

.page-user-edit .form-textarea-wrapper textarea{
		margin:auto;
	}
	.page-user-edit  .form-item-picture-delete{display: none;}
	.page-user-edit  .user-picture{
		float: left;
    width: 30%;
	}
	.page-user-edit .form-item-files-picture-upload{
		width: 70%!important;
	}
	.page-user-edit .form-item-select-avatar{text-align: left;}
	.page-user-edit .form-item-files-picture-upload label{
		    float: left;
    		text-align: left;
	}

	.page-user-edit .form-item-files-picture-upload .help-block{
		 width: 50%;
    float: left;
    text-align: left;
	}
	.page-user-edit  .user-picture img{margin: auto;}

.form-item-pass-pass1,
.form-item-pass-pass2 {
	height: 40px;
	width: 100%;
	margin: 0;
	padding-right: 15px;
	padding-left: 15px;
}

.form-item-pass-pass1 .control-label,
.form-item-pass-pass2 .control-label {
	padding-top: 5px;
}

@media(max-width: 992px) {
	.page-user-edit .form-textarea-wrapper textarea{
		margin:auto;
	}

	#edit-field-cellphone {
		height: auto;
		display: inline-block;
	}
	.form-type-password-confirm .row {
		margin: 0;
	}

	#edit-field-birthdate-und-0-value-datepicker-popup-0 {
		margin: 0 auto;
	}
	.form-item-pass-pass1,
	.form-item-pass-pass2 {
		height: auto;
	}
}

@media(max-width: 767px)
{
	.page-user-edit .group-left,
	.page-user-edit .group-right{
	width: 100%!important;
	float: none!important;
	}


	.page-user-edit div.user-avatar-select div.form-item{
		display: inline-block!important;
	}
	.page-user-edit .user-picture img{margin: auto;}
	.page-user-edit .help-block{
		 width: 100%;
    	float: none;
	}

}

.page-user .form-item-pass-pass2{
	margin-bottom: 0!important;
}
#user-profile-form .form-submit
{
	   background: none;
    background-color: #6096d4;
    text-shadow: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
}
#user-profile-form .form-submit:hover{
	color: white;
    background-color: #386faf;
}
#user-profile-form .form-item
{
	  overflow: hidden;
    margin: 20px 0;
    padding: 0;
}
#user-profile-form .row {
	margin:0;
}
@media(max-width: 991px) {
   #user-profile-form .form-item input {
	   float: none;
	   margin: auto;
   }
}

.page-header {
	border: 0;
}
.page-node-take .nav-tabs {
	display: none;
}
.countdown.jquery-countdown-processed.hasCountdown {
	border: 0;
	background: none;
}



@media screen and (max-width: 767px){
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
		white-space: normal;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fffffF;
	}
}

#quiz_score_percent {
	display: none;
}
.entity-quiz-result-answer th {
	min-width: 180px;
}

.alert.alert-block.alert-danger.messages.error,
.alert.alert-block.alert-success.messages.status,
.alert.alert-block {
	width: 50%;
}


.page-user .group-left .field-label ~ .field-items,
.page-user .group-right .field-label ~ .field-items{
	width: calc(100% - 200px);
}

@media screen and (min-width:992px) {
	.front .wrapper {
		max-width: none;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.jumbotron {
		padding-top: 30px;
	}
}

.indicators {
	z-index: 1;
}




@media (max-width: 896px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


@media (max-width: 897px) {
	.navbar-right .dropdown-menu {
    	right: inherit;
    	left: auto;
	}
}

.navbar-fixed-top .navbar-collapse {
    max-height: 420px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #f0ff00;
    background: none;
}




.field-name-field-country .input-group {
    float: right;
}
.field-name-field-country span.input-group-addon {
    display: none;
}
@media (max-width: 991px) {
	.field-name-field-country .input-group select.form-control {
		float: none;
	}
}




