form .pfizer-ws-detail-field-wrap {
  position: relative;
}

  form .pfizer-ws-detail-field-wrap .form-type-textfield label {
    padding-left: 2em;
  }

  form .pfizer-ws-detail-field-wrap .form-type-checkbox {
    left: 0;
    position: absolute;
    top: 0.5em;
  }